@import url("https://fonts.googleapis.com/css?family=Secular+One");

body {
    background-color: black;
    align-items: center;
  }

  .social-icons #npm:hover {
    border-radius: 50%;
    color: red;
  }

  .social-icons #github:hover {
    border-radius: 50%;
    color: gray;
  }

  .social-icons #steam:hover {
    border-radius: 50%;
    color: #00adee;
  }

  .social-icons #youtube:hover {
    border-radius: 50%;
    color: red;
  }

  .social-icons #twitter:hover {
    border-radius: 50%;
    color: #00adee;
  }

  .social-icons #telegram:hover {
    borser-radius: 50%;
    color: cyan;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
  }
  
   .social-icons a {
    display: inline-block;
    /* margin: 0 10px; */
    margin: 0 10px;
    font-size: 60px;
    color: white;
    transition: transform 0.2s ease-in-out;
  }
  
  .social-icons a:hover {
     transform: translateY(-10px) scale(1.2);
  }

  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 200px; adjust the margin as needed */
  }
  
  img {
    --color: #FA6900; /* the color of the border */
    --border: 13px;   /* the thickness of the border */
    /* --offset: 30px; control the movement of the border */
    --gap: 5px;
    border-radius: 50%;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(50% 50%, #000 calc(100% - var(--offset)),#0000 calc(100% - var(--border)));
    -webkit-mask: var(--_m);
    mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)), var(--color) calc(100% - var(--border)) 99%,#0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background:
      radial-gradient(var(--_r) 0    0   ,var(--_g)) calc(100% + var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0   ,var(--_g)) calc(0%   - var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0    100%,var(--_g)) calc(100% + var(--_s)) calc(0%   - var(--_s)),
      radial-gradient(var(--_r) 100% 100%,var(--_g)) calc(0%   - var(--_s)) calc(0%   - var(--_s));
    background-size: 40% 40%;
    background-repeat: no-repeat;
    transition: .4s;
    /* margin-top: 200px; */
  }
  
  img:hover {
    --_s: 0px
  }

  #anim-text {
    color: greenyellow;
    font-family: "Secular One"
  }

  .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
  
  #night {
    display: inline-block;
    opacity: 0;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
    }
    #night:hover {
        border-color: #000000;
        background: #f7f7f7;
        animation: opacity-animation 0.2s forwards;
    }

  /* Animations */
  
  @keyframes hover-animation {
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-10px) scale(1.2);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }
  @keyframes opacity-animation {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.4;
    }
    80% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  /* Resize */
  @media only screen and (min-device-width : 320px) and (max-device-width : 720px) {
    .social-icons a {
      display: inline-block;
      margin: 0 10px;
      font-size: 50px;
      color: white;
      transition: transform 0.2s ease-in-out;
    }
    .avatar {
      width: 50%;
    }
  }
